:root {
    --navbar-color: #464159;
    --margin-color: #282534;
    --mainContentBG-color: #6c7b95;
    --barcolumn1-color:#8bbabb;
    --barcolumn2-color:#c7f0db;
    --barcolumn1-highlight: #80ecee;
    --barcolumn2-highlight: #9effcd;
    --header-bright: #8ee98e;
}

/* Palette 165518 (ColorHunt.com)
#464159
#6c7b95
#8bbabb
#c7f0db
 */


@media screen and (max-width: 922px) {
    .container {
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 100px 1fr;
        min-height: 100vh;
    }
}

@media screen and (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: 110px 1fr;
        min-height: 100vh;
    }
}


/* Basic level containment -------------------------------- */
.container {
    background: url('./world-map-halftone-dots-background_153132-185.jpg') no-repeat top center fixed;
    background-size: cover;
    margin: 0;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 70px 1fr;
    min-height: 100vh;
}

/* Side Margins ----------------------------------------------- */
.margin-left {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    /* border: 1px dotted black; */
    background-color: var(--margin-color);
    opacity: 0.7;
}

.margin-right {
    grid-column: 3;
    grid-row: 2;
    display: grid;
    /* border: 1px dotted black; */
    background-color: var(--margin-color);
    opacity: 0.7;
}