/* Navigation & Title ----------------------------------------- */
.navBar {
    grid-column: 1 / span 3;
    border: 1px solid black;
    background-color: var(--navbar-color);
    z-index: 10;
}

.navBar > h1 {
    margin-top: 15px;
    text-align: center;
    color: var(--header-bright);
}
